# Rename to .env and fill values
SIENGE_BASE_URL=https://cctcontrol.sienge.com.br
SIENGE_USER=cctcontrol-api
SIENGE_PASS=10AxG5RkQ1CHEpz2HRqwI6w2bPmE23T5
OPENAI_API_KEY=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
